.container {
    width: 500px;
    margin: auto;  /* Center the board */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    white-space: 10px;
}
.player
{
  font-size:24px;
  font-weight:bold;
  text-align:center;

}

.one
{
  margin:10px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 4px;
  font-size:18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.style
{
  display:flex;
  justify-content:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

  
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh; /* full screen height */
  gap: 10px; /* spacing between input and button */
}

.game {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
}
.button
{
 
  border-radius: 30px;
  background-color: lime;
  font-size: 16px;      /* Increase text size */
  padding: 10px 20px;   /* Increase button size */
  width: auto;          /* Let width adjust to content */
  height: auto;         /* Let height adjust to content */
}

.button-row{
  margin-top:30px;
  display: flex;
  gap:12px;
  justify-content:center;
  
  
}
.eval-row
{
  display:flex;
  align-items:center;
  gap:16px;
}
.two{
  justify-content: center;
  align-items:center
}

